<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

<body style="text-align:center;margin-top:100px;font-family:Segoe UI;">

<h2>🔐 Login</h2>

<input id="user" placeholder="Username"><br><br>
<input id="pass" type="password" placeholder="Password"><br><br>

<button onclick="login()">Login</button>

<script>
async function login(){

    let res = await fetch("/login",{
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body: JSON.stringify({
            username: document.getElementById("user").value,
            password: document.getElementById("pass").value
        })
    });

    let data = await res.json();

    console.log(data);

    if(data.company){
        // 🔥 مهم جدًا
        localStorage.setItem("company", data.company);

        // 👇 يفتح الداشبورد
        window.location = "/dashboard";
    } else {
        alert("Login failed ❌");
    }
}
</script>

</body>
</html>